<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="le1.mytube">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="le1.mytube.application.MyTubeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip" />

        <activity
            android:name="le1.mytube.ui.main.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

       <!--<receiver android:name="android.support.v4.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>-->

        <receiver android:name=".MediaReceiver" >
            <intent-filter android:priority="10000">
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>


        <service
            android:name="le1.mytube.services.musicService.MusicService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserServiceCompat" />
                <!--<action android:name="android.intent.action.MEDIA_BUTTON" />-->
            </intent-filter>
        </service>

        <activity
            android:name="le1.mytube.mvpViews.PlaylistActivity"
            android:parentActivityName="le1.mytube.ui.main.MainActivity" />
        <activity
            android:name="le1.mytube.ui.search.SearchActivity"
            android:launchMode="singleTask"
            android:parentActivityName="le1.mytube.ui.main.MainActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="le1.mytube.ui.searchResult.SearchResultActivity"
            android:launchMode="singleTask"
            android:parentActivityName="le1.mytube.ui.main.MainActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity android:name="le1.mytube.ui.musicPlayer.MusicPlayerActivity"
            android:launchMode="singleInstance"/>

    </application>
</manifest>